.team_member {
    text-align: center;
  }
  
  .team_member_image {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 50%;
  }
  
  .team_member_name {
    font-family: Jura, sans-serif;
    font-size: 24px;
    color: #002bc2;
    margin: 16px 0 8px;
  }
  
  .team_member_title {
    font-size: 16px;
  }
  