.service_section {
    display: flex;
    justify-content: space-between;
    max-width: 1212px;
    margin: 64px auto 0;
    gap: 20px;
  }
  
  .team_section {
    display: flex;
    justify-content: space-between;
    max-width: 1212px;
    margin: 64px auto 0;
    gap: 20px;
  }
  