.service_card {
    background-color: #fafafa;
    border-radius: 8px;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.25);
    padding: 44px 30px;
    flex: 1;
  }
  
  .service_title {
    color: #002bc2;
    font-family: Jura, sans-serif;
    font-size: 32px;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .service_description {
    font-size: 16px;
  }
  